<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Upload RAW AWS Metrics Report</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <h1>AWS Capacity Report</h1>
    <div class="file-processing-field wrapper">
      <h2 class="title">Upload CSV AWS Metrics Report</h2>
      <form 
        enctype="multipart/form-data" id="submit-form" action="submit"
      >
        <input
          id="file-selector" 
          type="file"
          name="file"
          accept=".xlsx,.xls,.csv"
          required
          multiple
        >
        <i class="fas fa-cloud-upload-alt"></i>
        </input>
        <div id="buttons">
          <button type="submit" id="get-excel">Process data into EXCEL</button>
          <button type="submit" id="save-metrics">Save Metrics</button>
        </div>
      </form>
      <div class="separator"></div>
      <!-- PROGRESS -->
      <section class="progress" id="queue-list" >
        <!-- FED BY SELECTED FILES -->
      </section>
    </div>


    <div class="dashboards-table wrapper">
      <h2 class="title">Dashboards</h2>
      <table>
        <thead>
          <tr>
            <th>Dashboard Name</th>
            <th>Service</th>
            <th>Resource</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < dashboards.length; i++) { %>
          <tr>
            <td><%= dashboards[i].dashboardName %></td>
            <td><%= dashboards[i].service %></td>
            <td><%= dashboards[i].resource %></td>
            <td><%= dashboards[i].product %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>

  <script src="script.js"></script>
</html>
